/projects/akka/akka-sample-cluster/target
/projects/ibs/TomcatRestart/target
/projects/ibs/Updater/target
/projects/ibs/ZZZTestApplication/target
/projects/jgit/JGitFlowTest/target
/projects/jgit/ZJGit/target
/projects/portforwarding/PortMapper/target/
/projects/shh/apache_mina/apache-sshd-1.2.0/target
/projects/shh/apache_mina/apache-sshd-1.2.0/sshd-core/target
/projects/shh/apache_mina/apache-sshd-1.2.0/sshd-git/target
/projects/shh/apache_mina/apache-sshd-1.2.0/sshd-ldap/target
/projects/shh/ApacheMinaTest/target
/projects/shh/SshPortForwarding/target
/projects/ibs/Startup/dist
/projects/ibs/Startup/build
/projects/others/SpamAttack/target
/projects/ibs/others/GenerateFields/target
/projects/ibs/module-pmp-test/target
/projects/ibs/RecreateMassLauncher/target
/projects/ibs/TestJSon/target
/projects/others/others/Youtube/ytd2_20150609_src/target
/projects/db2/Db2Project/target/
/projects/ibs/medicalcaseRepairer/target/
/projects/ibs/SimpleQueryExecutor/target
/projects/ibs/SshTest/target/
/projects/ibs/ApacheMinaServer/target/
/projects/ibs/module-pmp-bill-recreate-executor/target/
/projects/ibs/ApacheMinaServer - копия/target/
/projects/ibs/module-pmp-bill-recreate-executor_copy/target
/projects/ibs/module-pmp-bill-recreate-executor - копия/target/
/projects/ibs/any-update/target/
/projects/ssh/SshPortForwarding/target/
/different/TestProjects/Threads/target/
/projects/others/module-automatic-formatter/target/
/projects/portforwarding/HttpTunneling/target/
/projects/portforwarding/HttpTunneling/nbactions.xml
/different/TestProjects/AspectJ/AspectJTest/nbproject/private/
/different/TestProjects/AspectJ/AspectJTest/target/
/different/TestProjects/Pump/TestPumpUtils/nbproject/private/
/different/TestProjects/Pump/TestPumpUtils/target/
/different/TestProjects/Pump/TestPumpUtils/log.fileBaseDir_IS_UNDEFINED/module-business-common-api/*.log
/projects/ibs/ApacheMinaServer/modules/logs/module-pmp-bill-recreate/*.log
/projects/ibs/SimpleQueryExecutor/modules/logs/module-pmp-bill-recreate/*.log
/projects/ibs/ZZZTestApplication/logs/*.log
/projects/ibs/any-update/*.log
/projects/ibs/any-update/modules/logs/module-pmp-bill-recreate-executor-war/*.log
/projects/ibs/any-update/modules/logs/module-pmp-bill-recreate/*.log
/projects/ibs/medicalcaseRepairer/module-pmp-bill-recreate/*.log
/projects/ibs/medicalcaseRepairer/modules/logs/module-pmp-bill-recreate/*.log
/projects/tutorials-master/tutorials-master/guest/log4j2-example/*.log
/projects/tutorials-master/tutorials-master/guest/log4j2-example/logs/*.log
/projects/tutorials-master/tutorials-master/jmeter/*.log
/projects/tutorials-master/tutorials-master/muleesb/.mule/queue-tx-log/*.log
/projects/tutorials-master/tutorials-master/muleesb/.mule/queue-xa-tx-log/*.log
/projects/tutorials-master/tutorials-master/spring-cloud-data-flow/data-flow-shell/*.log
/different/Images/SvetaPng/target/
/different/TestProjects/Pump/ZZGenerateSendRequests/target/
/different/Sveta/InstagramUtil/target/
/projects/files/FileTransmitter/target/
/different/TestProjects/Pump/BirtTest/target/
/different/TestProjects/Pump/birt-dynamic-image/target
/different/TestProjects/Pump/birt-dynamic-image/*.pdf
/different/TestProjects/Pump/barcode/target/
/projects/ibs/any-update/manager/target/
/different/Images/MaryKayTestTable/target/
/different/Images/MaryKayLib/target/
/different/Images/MaryKayActivationServer/target/
/different/Images/MaryKayActivationServer/db/mary_kay_users.mv.db
/projects/ibs/pdf-problem-test/target/
/different/TestProjects/ignite/target/
/different/Sveta/ArtPanda/target/
/different/Sveta/DesctopScreenRecorder/target/
/different/TestProjects/Pump/TestDocxTemplates/target/
/different/TestProjects/Pump/TestDocxTemplates2/target/
/projects/ibs/kmplib/target/
/projects/tor/myorchid/target/
/projects/ibs/SocketServer/target/
/projects/tor/orchid/target/
/projects/guava/rate_limiter/target/
/projects/ssh/apache_mina/apache-sshd-1.2.0/sshd-core/target/
/different/TestProjects/Pump/TestDocxTemplates3/target/
/different/TestProjects/SomeTestProject/target/
/different/TestProjects/SomeTestProject2/target/
/different/TestProjects/MemoryLeak/target/
/projects/ibs/httpSender/target/
/projects/ibs/TestMultithreading/target/
/projects/ibs/DocxTestProject/target/
/projects/ibs/ZZZTestApplication2/target/
/different/TestProjects/SomeTestProject3/target/
/different/Sveta/ImagesToPdf/target/
/projects/ibs/XlsTest/target/
/projects/ibs/web/WebSpringExample/target/
/projects/ibs/web/WebExampleClient/target/
/projects/ibs/web/WebEmbeddedExample/target/
/projects/ibs/web/WebNativeExample/target/
/projects/youtube/YoutubeDownload/target/
/different/TestProjects/Birt/SpringBootAndBirt/target/
/different/TestProjects/h2/H2TestProject/target/
/different/TestProjects/Birt/BirtTest/target/
/different/TestProjects/Birt/BirtTest2/target/
/different/Sveta/Artliner/target/
/different/Sveta/Artliner2/target/
/different/Sveta/Artliner3/target/
/different/LeetCode/LeetCode/target/
/different/Kotlin/TestExample/target/
