#spring.datasource.url=jdbc:h2:mem:testdb
spring:
  datasource:
    url: jdbc:h2:mem:mydb
    username: sa
    password: password
    driverClassName: org.h2.Driver
    liquibase:
        enabled: true
        change-log: classpath:db/changelog/master.xml
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect